<header id="header">
    <div class="center">
        <!--LOGOTIPO-->
        <div id="logo">
            <img src="../../assets/images/logo.png" class="app-logo" alt="logotipo"/> 
            <span id="brand">
                <p><strong>Demo de un Blog hecho con VUE + Node.js + MongoDB</strong></p>
            </span>
        </div>

        <!--MENU-->
        <nav id="menu">
            <ul>
                <li>
                    <router-link to="/">Inicio</router-link>
                </li>
                <li>
                    <router-link to="blog">Blog</router-link>
                </li>
                <li>
                    <router-link to="contacto">Contacto</router-link>
                </li>
                <li>
                    <router-link to="sobre-nosotros">¿Quien somos?</router-link>
                </li>
            </ul>
        </nav>
        <!--LIMPiAR FLOTADOS. SE RECOMIENDA HACERLO SIEMPRE-->
        <div class="clearfix"></div>
    </div>
</header>